Temp/FlowInspect_IndianTrailBayAssignOrGet_20260602/Microsoft.Flow/flows/5fabb5f7-ee88-4027-a423-534a1adfb177/definition.json
{"name":"7aa42275-78c6-4704-a019-4e4e4378bacc","id":"/providers/Microsoft.Flow/flows/7aa42275-78c6-4704-a019-4e4e4378bacc","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"IndianTrailBayAssignOrGet","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"a0be9334-3937-4ad8-9739-fd7b8aa83847","type":"User","tenantId":"2506d8b9-503e-4096-8f98-d094e76b67a5"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-05-22T16:37:52.7319919Z","connectionKeySavedTimeKey":"2026-05-22T16:37:52.7319919Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"deliveryListKey":{"type":"string"},"orderNumber":{"type":"integer"},"normalizedOrderNumber":{"type":"string"},"itemNumber":{"type":"integer"},"glassHeader":{"type":"string"},"glassCategory":{"type":"string"},"bayCategory":{"type":"string"},"scanStage":{"type":"string"},"targetSheet":{"type":"string"},"stationName":{"type":"string"},"sourceWorkbook":{"type":"string"},"barcode":{"type":"string"},"notes":{"type":"string"},"lookupOnly":{"type":"boolean"}},"required":["deliveryListKey","orderNumber","normalizedOrderNumber","bayCategory","scanStage"]},"triggerAuthenticationType":"All"}}},"actions":{"Get_existing_assignments":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"5ee68377-da61-444b-9531-469c8c1fee18","$filter":"field_2 eq '@{triggerBody()?['deliveryListKey']}' and field_1 eq '@{triggerBody()?['normalizedOrderNumber']}' and field_8 ne 'Cleared' and field_8 ne 'Cancelled' and field_8 ne 'SDIOverride'","$top":1},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Lookup_only":{"actions":{"Response_4":{"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"ok":true,"lookupOnly":true,"found":"@{greater(length(body('Get_existing_assignments')?['value']), 0)}","resultCode":"@{if(greater(length(body('Get_existing_assignments')?['value']), 0), 'OK', 'NOT_FOUND')}","message":"@{if(greater(length(body('Get_existing_assignments')?['value']), 0), concat('Indian Trail Bay: ', first(body('Get_existing_assignments')?['value'])?['field_5']), 'No Indian Trail bay assignment found.')}","bayKey":"@{if(greater(length(body('Get_existing_assignments')?['value']), 0), first(body('Get_existing_assignments')?['value'])?['field_4'], '')}","bayDisplayName":"@{if(greater(length(body('Get_existing_assignments')?['value']), 0), first(body('Get_existing_assignments')?['value'])?['field_5'], '')}","assignmentStatus":"@{if(equals(triggerBody()?['scanStage'],'INDIAN_TRAIL_RECEIVE'),'Occupied',first(body('Get_existing_assignments')?['value'])?['field_8']?['Value'])}","glassCategory":"@{if(greater(length(body('Get_existing_assignments')?['value']), 0), first(body('Get_existing_assignments')?['value'])?['field_6']?['Value'], '')}","glassHeader":"@{if(greater(length(body('Get_existing_assignments')?['value']), 0), first(body('Get_existing_assignments')?['value'])?['field_7'], '')}","assignmentId":"@{if(greater(length(body('Get_existing_assignments')?['value']), 0), string(first(body('Get_existing_assignments')?['value'])?['ID']), '')}"}}}},"runAfter":{"Get_existing_assignments":["Succeeded"]},"else":{"actions":{"Existing_assignment_found":{"actions":{"Is_Indian_Trail_receive":{"actions":{"Update_item":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"5ee68377-da61-444b-9531-469c8c1fee18","id":"@first(body('Get_existing_assignments')?['value'])?['ID']","item/Title":"@first(body('Get_existing_assignments')?['value'])?['Title']","item/field_8/Value":"Occupied","item/OccupiedAt":"@utcNow()","item/field_12":true,"item/field_13":"@triggerBody()?['stationName']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{}},"expression":{"and":[{"equals":["@triggerBody()?['scanStage']","INDIAN_TRAIL_RECEIVE"]}]},"type":"If"},"Response":{"runAfter":{"Is_Indian_Trail_receive":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"ok":true,"resultCode":"OK","message":"Indian Trail Bay: @{first(body('Get_existing_assignments')?['value'])?['field_5']}","bayKey":"@{first(body('Get_existing_assignments')?['value'])?['field_4']}","bayDisplayName":"@{first(body('Get_existing_assignments')?['value'])?['field_5']}","assignmentStatus":"@{if(equals(triggerBody()?['scanStage'],'INDIAN_TRAIL_RECEIVE'),'Occupied',first(body('Get_existing_assignments')?['value'])?['field_8'])}","wasExistingAssignment":true,"assignmentId":"@{first(body('Get_existing_assignments')?['value'])?['ID']}"}}}},"else":{"actions":{"Category_is_auto_assignable":{"actions":{"Get_available_bays":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"2df78e1d-71b9-4257-9e20-faa621cbcff3","$filter":"field_5 eq '@{triggerBody()?['bayCategory']}' and field_6 eq 1 and field_8 eq 'Available'","$orderby":"field_7 asc"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Get_used_assignments":{"runAfter":{"Get_available_bays":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"5ee68377-da61-444b-9531-469c8c1fee18","$filter":"field_2 eq '@{triggerBody()?['deliveryListKey']}' and field_8 ne 'Cleared' and field_8 ne 'Cancelled' and field_8 ne 'SDIOverride' and field_8 ne 'ManualException'"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Select_UsedBayKeys":{"runAfter":{"Get_used_assignments":["Succeeded"]},"type":"Select","inputs":{"from":"@body('Get_used_assignments')?['value']","select":{"BayKey":"@item()?['field_4']"}}},"Filter_available_unused_bays":{"runAfter":{"Select_UsedBayKeys":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Get_available_bays')?['value']","where":"@not(contains(string(body('Select_UsedBayKeys')), item()?['Title']))"}},"Unused_bay_found":{"actions":{"Create_bay_assignment":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"5ee68377-da61-444b-9531-469c8c1fee18","item/Title":"@string(triggerBody()?['orderNumber'])","item/field_1":"@triggerBody()?['normalizedOrderNumber']","item/field_2":"@triggerBody()?['deliveryListKey']","item/field_3":"@concat(triggerBody()?['deliveryListKey'], '-', triggerBody()?['normalizedOrderNumber'])","item/field_4":"@first(body('Filter_available_unused_bays'))?['Title']","item/field_5":"@first(body('Filter_available_unused_bays'))?['field_1']","item/field_6/Value":"@triggerBody()?['bayCategory']","item/field_7":"@triggerBody()?['glassHeader']","item/field_8/Value":"@if(equals(triggerBody()?['scanStage'],'INDIAN_TRAIL_RECEIVE'),'Occupied','PreAssigned')","item/PreAssignedAt":"@utcNow()","item/field_12":false,"item/field_13":"@triggerBody()?['stationName']","item/field_14":"@triggerBody()?['notes']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}},"Response_2":{"runAfter":{"Create_bay_assignment":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"ok":true,"resultCode":"OK","message":"Indian Trail Bay: @{first(body('Filter_available_unused_bays'))?['field_1']}","bayKey":"@{first(body('Filter_available_unused_bays'))?['Title']}","bayDisplayName":"@{first(body('Filter_available_unused_bays'))?['field_1']}","assignmentStatus":"@{if(equals(triggerBody()?['scanStage'],'INDIAN_TRAIL_RECEIVE'),'Occupied','PreAssigned')}","wasExistingAssignment":false,"assignmentId":"@{body('Create_bay_assignment')?['ID']}"}}}},"runAfter":{"Filter_available_unused_bays":["Succeeded"]},"else":{"actions":{"Create_no_bay_exception":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"5ee68377-da61-444b-9531-469c8c1fee18","item/Title":"@string(triggerBody()?['orderNumber'])","item/field_1":"@triggerBody()?['normalizedOrderNumber']","item/field_2":"@triggerBody()?['deliveryListKey']","item/field_3":"@concat(triggerBody()?['deliveryListKey'], '-', triggerBody()?['normalizedOrderNumber'])","item/field_6/Value":"@triggerBody()?['bayCategory']","item/field_7":"@triggerBody()?['glassHeader']","item/field_8/Value":"ManualException","item/PreAssignedAt":"@utcNow()","item/field_12":false,"item/field_13":"@triggerBody()?['stationName']","item/field_14":"@concat('No available bay found for category: ', triggerBody()?['bayCategory'])"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}},"Response_3":{"runAfter":{"Create_no_bay_exception":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"ok":true,"resultCode":"NO_BAY_AVAILABLE","message":"No available Indian Trail bay found. Use manual bay control.","bayKey":"","bayDisplayName":"","assignmentStatus":"ManualException","wasExistingAssignment":false,"assignmentId":"@{body('Create_no_bay_exception')?['ID']}"}}}}},"expression":{"and":[{"greater":["@length(body('Filter_available_unused_bays'))",0]}]},"type":"If"}},"else":{"actions":{"Create_manual_exception_unsupported_category":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"5ee68377-da61-444b-9531-469c8c1fee18","view":"f2a8873c-cee6-4289-931b-6361e50388cf","item/Title":"@string(triggerBody()?['orderNumber'])","item/field_1":"@triggerBody()?['normalizedOrderNumber']","item/field_2":"@triggerBody()?['deliveryListKey']","item/field_3":"@concat(triggerBody()?['deliveryListKey'], '-', triggerBody()?['normalizedOrderNumber'])","item/field_6/Value":"ManualException","item/field_7":"@triggerBody()?['glassHeader']","item/field_8/Value":"ManualException","item/PreAssignedAt":"@utcNow()","item/field_12":false,"item/field_13":"@triggerBody()?['stationName']","item/field_14":"@concat('Unsupported or manual bay category: ', triggerBody()?['bayCategory'], '. ', triggerBody()?['notes'])"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}},"Response_1":{"runAfter":{"Create_manual_exception_unsupported_category":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"ok":true,"resultCode":"MANUAL_EXCEPTION","message":"Manual bay review required for this order.","bayKey":"","bayDisplayName":"","assignmentStatus":"ManualException","wasExistingAssignment":false,"assignmentId":"@{body('Create_manual_exception_unsupported_category')?['ID']}"}}}}},"expression":{"or":[{"equals":["@triggerBody()?['bayCategory']","Tempered"]},{"equals":["@triggerBody()?['bayCategory']","MirrorAnnealed"]}]},"type":"If"}}},"expression":{"and":[{"greater":["@length(body('Get_existing_assignments')?['value'])",0]}]},"type":"If"}}},"expression":{"or":[{"equals":["@triggerBody()?['lookupOnly']","@true"]}]},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"2e3fe2d6ae91474e815ae6feff75b950","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}