Temp/FlowInspect_IndianTrailBayAdminAction_20260602/Microsoft.Flow/flows/07bf535f-875b-4814-b91e-575462d585ae/definition.json
{"name":"25724bf6-8b5e-4d14-804a-138bf3ad7277","id":"/providers/Microsoft.Flow/flows/25724bf6-8b5e-4d14-804a-138bf3ad7277","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"IndianTrailBayAdminAction","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"a0be9334-3937-4ad8-9739-fd7b8aa83847","type":"User","tenantId":"2506d8b9-503e-4096-8f98-d094e76b67a5"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-06-02T12:06:26.9466787Z","connectionKeySavedTimeKey":"2026-06-02T12:06:26.9466787Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"action":{"type":"string"},"deliveryListKey":{"type":"string"},"orderNumber":{"type":"string"},"bayDisplayName":{"type":"string"},"newBayDisplayName":{"type":"string"},"glassCategory":{"type":"string"},"glassHeader":{"type":"string"},"notes":{"type":"string"},"stationName":{"type":"string"},"sourceWorkbook":{"type":"string"}},"required":["action"]},"triggerAuthenticationType":"All"}}},"actions":{"Compose_Action_Normalized":{"runAfter":{},"type":"Compose","inputs":"@toUpper(trim(coalesce(triggerBody()?['action'], '')))"},"Compose_OrderNumber":{"runAfter":{"Compose_Action_Normalized":["Succeeded"]},"type":"Compose","inputs":"@trim(coalesce(triggerBody()?['orderNumber'], ''))"},"Compose_DeliveryListKey":{"runAfter":{"Compose_OrderNumber":["Succeeded"]},"type":"Compose","inputs":"@trim(coalesce(triggerBody()?['deliveryListKey'], ''))"},"Compose_TargetBayDisplayName":{"runAfter":{"Compose_DeliveryListKey":["Succeeded"]},"type":"Compose","inputs":"@if(empty(trim(coalesce(triggerBody()?['newBayDisplayName'], ''))), trim(coalesce(triggerBody()?['bayDisplayName'], '')), trim(triggerBody()?['newBayDisplayName']))"},"Compose_GlassCategory_ForAssignment":{"runAfter":{"Compose_TargetBayDisplayName":["Succeeded"]},"type":"Compose","inputs":"@if(empty(trim(coalesce(triggerBody()?['glassCategory'], ''))), 'ManualException', trim(triggerBody()?['glassCategory']))"},"Compose_GlassHeader":{"runAfter":{"Compose_GlassCategory_ForAssignment":["Succeeded"]},"type":"Compose","inputs":"@trim(coalesce(triggerBody()?['glassHeader'], ''))"},"Compose_Notes":{"runAfter":{"Compose_GlassHeader":["Succeeded"]},"type":"Compose","inputs":"@trim(coalesce(triggerBody()?['notes'], ''))"},"Compose_StationName":{"runAfter":{"Compose_Notes":["Succeeded"]},"type":"Compose","inputs":"@if(empty(trim(coalesce(triggerBody()?['stationName'], ''))), trim(coalesce(triggerBody()?['sourceWorkbook'], 'Indian Trail Inventory Manager')), trim(triggerBody()?['stationName']))"},"SP_GetExistingAssignment_Admin":{"runAfter":{"Compose_StationName":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"5ee68377-da61-444b-9531-469c8c1fee18","$filter":"field_2 eq '@{outputs('Compose_DeliveryListKey')}' and field_1 eq '@{outputs('Compose_OrderNumber')}' and field_8 ne 'Cleared' and field_8 ne 'Cancelled'","$top":1},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"SP_GetTargetBay_Admin":{"runAfter":{"SP_GetExistingAssignment_Admin":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"2df78e1d-71b9-4257-9e20-faa621cbcff3","$filter":"field_1 eq '@{outputs('Compose_TargetBayDisplayName')}'","$top":1},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Switch_AdminAction":{"runAfter":{"SP_GetTargetBay_Admin":["Succeeded"]},"cases":{"CLEAR_BAY":{"case":"CLEAR BAY","actions":{"Condition_ClearBay_AssignmentFound":{"actions":{"SP_UpdateAssignment_ClearBay":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"5ee68377-da61-444b-9531-469c8c1fee18","id":"@first(body('SP_GetExistingAssignment_Admin')?['value'])?['ID']","item/Title":"@outputs('Compose_OrderNumber')","item/field_8/Value":"Cleared","item/ClearedAt":"@utcNow()\r\n","item/field_12":true,"item/field_13":"@ outputs('Compose_StationName')","item/field_14":"@outputs('Compose_Notes')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Response_ClearBay_Success":{"runAfter":{"SP_UpdateAssignment_ClearBay":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"ok":true,"resultCode":"OK","message":"Bay cleared."}}}},"else":{"actions":{"Response_ClearBay_NotFound":{"type":"Response","kind":"Http","inputs":{"statusCode":404,"body":{"ok":false,"resultCode":"NOT_FOUND","message":"No active bay assignment was found to clear."}}}}},"expression":{"and":[{"greater":["@length(body('SP_GetExistingAssignment_Admin')?['value'])",0]}]},"type":"If"}}},"MOVE_ORDER":{"case":"MOVE ORDER","actions":{"Condition_MoveOrder_TargetBayFound":{"actions":{"Condition_MoveOrder_AssignmentFound":{"actions":{"SP_UpdateAssignment_MoveOrder":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"5ee68377-da61-444b-9531-469c8c1fee18","id":"@first(body('SP_GetExistingAssignment_Admin')?['value'])?['ID']","item/Title":"@outputs('Compose_OrderNumber')","item/field_4":"@first(body('SP_GetTargetBay_Admin')?['value'])?['Title']","item/field_5":"@first(body('SP_GetTargetBay_Admin')?['value'])?['field_1']","item/field_12":true,"item/field_13":"@outputs('Compose_StationName')","item/field_14":"@outputs('Compose_Notes')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Response_MoveOrder_UpdateSuccess":{"runAfter":{"SP_UpdateAssignment_MoveOrder":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"ok":true,"resultCode":"OK","message":"Order moved to target bay."}}}},"else":{"actions":{"Create_item":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"5ee68377-da61-444b-9531-469c8c1fee18","item/Title":"@outputs('Compose_OrderNumber')","item/field_1":"@outputs('Compose_OrderNumber')","item/field_2":"@outputs('Compose_OrderNumber')","item/field_3":"@concat(outputs('Compose_DeliveryListKey'), '-', outputs('Compose_OrderNumber'))","item/field_4":"@first(body('SP_GetTargetBay_Admin')?['value'])?['Title']","item/field_5":"@first(body('SP_GetTargetBay_Admin')?['value'])?['field_1']","item/field_6/Value":"@outputs('Compose_GlassCategory_ForAssignment')","item/field_7":"@outputs('Compose_GlassHeader')","item/field_8/Value":"PreAssigned","item/PreAssignedAt":"@utcNow()","item/field_12":true,"item/field_13":"@outputs('Compose_StationName')","item/field_14":"@outputs('Compose_Notes')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}},"Response_MoveOrder_CreateSuccess":{"runAfter":{"Create_item":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":201,"body":{"ok":true,"resultCode":"OK","message":"Order assigned to target bay."}}}}},"expression":{"and":[{"greater":["@length(body('SP_GetExistingAssignment_Admin')?['value'])",0]}]},"type":"If"}},"else":{"actions":{"Response_MoveOrder_BayNotFound":{"type":"Response","kind":"Http","inputs":{"statusCode":400,"body":{"ok":false,"resultCode":"BAY_NOT_FOUND","message":"The target bay was not found in IndianTrailBays."}}}}},"expression":{"and":[{"greater":["@length(body('SP_GetTargetBay_Admin')?['value'])",0]}]},"type":"If"}}},"MANUAL_ASSIGN":{"case":"MANUAL ASSIGN","actions":{"Condition_ManualAssign_TargetBayFound":{"actions":{"Condition_ManualAssign_AssignmentFound":{"actions":{"SP_UpdateAssignment_ManualAssign":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"5ee68377-da61-444b-9531-469c8c1fee18","id":"@first(body('SP_GetExistingAssignment_Admin')?['value'])?['ID']","item/Title":"@outputs('Compose_OrderNumber')","item/field_4":"@first(body('SP_GetTargetBay_Admin')?['value'])?['Title']","item/field_5":"@first(body('SP_GetTargetBay_Admin')?['value'])?['field_1']\r\n","item/field_8/Value":"PreAssigned","item/field_12":true,"item/field_13":"@outputs('Compose_StationName')","item/field_14":"@outputs('Compose_Notes')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Response_ManualAssign_UpdateSuccess":{"runAfter":{"SP_UpdateAssignment_ManualAssign":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"ok":true,"resultCode":"OK","message":"Manual bay assignment updated."}}}},"else":{"actions":{"SP_CreateAssignment_ManualAssign":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"5ee68377-da61-444b-9531-469c8c1fee18","item/Title":"@outputs('Compose_OrderNumber')","item/field_1":"@outputs('Compose_OrderNumber')","item/field_2":"@outputs('Compose_OrderNumber')","item/field_3":"@concat(outputs('Compose_DeliveryListKey'), '-', outputs('Compose_OrderNumber'))","item/field_4":"@first(body('SP_GetTargetBay_Admin')?['value'])?['Title']","item/field_5":"@first(body('SP_GetTargetBay_Admin')?['value'])?['field_1']","item/field_6/Value":"@outputs('Compose_GlassCategory_ForAssignment')","item/field_7":"@outputs('Compose_GlassHeader')","item/field_8/Value":"PreAssigned","item/PreAssignedAt":"@utcNow()","item/field_12":true,"item/field_13":"@outputs('Compose_StationName')","item/field_14":"@outputs('Compose_Notes')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}},"Response_ManualAssign_CreateSuccess":{"runAfter":{"SP_CreateAssignment_ManualAssign":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":201,"body":{"ok":true,"resultCode":"OK","message":"Manual bay assignment created."}}}}},"expression":{"and":[{"greater":["@length(body('SP_GetExistingAssignment_Admin')?['value'])",0]}]},"type":"If"}},"else":{"actions":{"Response_ManualAssign_BayNotFound":{"type":"Response","kind":"Http","inputs":{"statusCode":400,"body":{"ok":false,"resultCode":"BAY_NOT_FOUND","message":"The target bay was not found in IndianTrailBays."}}}}},"expression":{"and":[{"greater":["@length(body('SP_GetTargetBay_Admin')?['value'])",0]}]},"type":"If"}}},"MANUAL_EXCEPTION":{"case":"MANUAL EXCEPTION","actions":{"Condition_ManualException_AssignmentFound":{"actions":{"SP_UpdateAssignment_ManualException":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"5ee68377-da61-444b-9531-469c8c1fee18","id":"@first(body('SP_GetExistingAssignment_Admin')?['value'])?['ID']","item/Title":"@outputs('Compose_OrderNumber')","item/field_6/Value":"ManualException","item/field_8/Value":"ManualException","item/field_12":true,"item/field_13":"@outputs('Compose_StationName')","item/field_14":"@outputs('Compose_StationName')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Response_ManualException_UpdateSuccess":{"runAfter":{"SP_UpdateAssignment_ManualException":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"ok":true,"resultCode":"OK","message":"Manual exception updated."}}}},"else":{"actions":{"SP_CreateAssignment_ManualException":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"5ee68377-da61-444b-9531-469c8c1fee18","item/Title":"@outputs('Compose_OrderNumber')","item/field_1":"@outputs('Compose_OrderNumber')","item/field_2":"@outputs('Compose_OrderNumber')","item/field_3":"@ concat(outputs('Compose_DeliveryListKey'), '-', outputs('Compose_OrderNumber'))","item/field_6/Value":"ManualException","item/field_8/Value":"ManualException","item/field_12":true,"item/field_13":"@outputs('Compose_StationName')","item/field_14":"@outputs('Compose_StationName')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}},"Response_ManualException_CreateSuccess":{"runAfter":{"SP_CreateAssignment_ManualException":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":201,"body":{"ok":true,"resultCode":"OK","message":"Manual exception created."}}}}},"expression":{"and":[{"greater":["@length(body('SP_GetExistingAssignment_Admin')?['value'])",0]}]},"type":"If"}}},"MARK_SDI":{"case":"MARK SDI","actions":{"Condition_MarkSDI_AssignmentFound":{"actions":{"SP_UpdateAssignment_MarkSDI":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"5ee68377-da61-444b-9531-469c8c1fee18","id":"@first(body('SP_GetExistingAssignment_Admin')?['value'])?['ID']","item/Title":"@outputs('Compose_OrderNumber')","item/field_6/Value":"SDI","item/field_8/Value":"SDIOverride","item/field_12":true,"item/field_13":"@outputs('Compose_StationName')","item/field_14":"@outputs('Compose_Notes')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"Compose_MarkSDI_NoAssignmentFound":{"type":"Compose","inputs":"No active assignment found. Special order row will still be updated."}}},"expression":{"and":[{"greater":["@length(body('SP_GetExistingAssignment_Admin')?['value'])",0]}]},"type":"If"},"SP_GetActiveSpecialOrder_MarkSDI":{"runAfter":{"Condition_MarkSDI_AssignmentFound":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"86b10ad1-656d-4798-a608-01aac44bf07d","$filter":"field_1 eq '@{outputs('Compose_OrderNumber')}' and field_2 eq 'SDI' and field_4 eq 'Active'","$top":1},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Condition_MarkSDI_SpecialOrderFound":{"actions":{"SP_UpdateSpecialOrder_MarkSDI":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"86b10ad1-656d-4798-a608-01aac44bf07d","id":"@first(body('SP_GetActiveSpecialOrder_MarkSDI')?['value'])?['ID']","item/Title":"@outputs('Compose_OrderNumber')","item/field_1":"@outputs('Compose_OrderNumber')","item/field_2/Value":"SDI","item/field_4/Value":"Active","item/field_5":"@utcNow()\r\n","item/field_6":"@outputs('Compose_StationName')","item/field_7":"@ outputs('Compose_Notes')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Response_MarkSDI_UpdateSuccess":{"runAfter":{"SP_UpdateSpecialOrder_MarkSDI":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"ok":true,"resultCode":"OK","message":"SDI override updated."}}}},"runAfter":{"SP_GetActiveSpecialOrder_MarkSDI":["Succeeded"]},"else":{"actions":{"SP_CreateSpecialOrder_MarkSDI":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"86b10ad1-656d-4798-a608-01aac44bf07d","item/Title":"@ outputs('Compose_OrderNumber')","item/field_1":"@outputs('Compose_OrderNumber')","item/field_2/Value":"SDI","item/field_4/Value":"Active","item/field_5":"@utcNow()\r\n","item/field_6":"@outputs('Compose_StationName')","item/field_7":"@ outputs('Compose_Notes')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}},"Response_MarkSDI_CreateSuccess":{"runAfter":{"SP_CreateSpecialOrder_MarkSDI":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":201,"body":{"ok":true,"resultCode":"OK","message":"SDI override marked."}}}}},"expression":{"and":[{"greater":["@length(body('SP_GetActiveSpecialOrder_MarkSDI')?['value'])",0]}]},"type":"If"}}},"REMOVE_SDI":{"case":"REMOVE SDI","actions":{"SP_GetActiveSpecialOrder_RemoveSDI":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"86b10ad1-656d-4798-a608-01aac44bf07d","$filter":"field_1 eq '@{outputs('Compose_OrderNumber')}' and field_2 eq 'SDI' and field_4 eq 'Active'","$top":1},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Condition_RemoveSDI_SpecialOrderFound":{"actions":{"SP_UpdateSpecialOrder_RemoveSDI":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"86b10ad1-656d-4798-a608-01aac44bf07d","id":"@first(body('SP_GetActiveSpecialOrder_RemoveSDI')?['value'])?['ID']","item/Title":"@outputs('Compose_OrderNumber')","item/field_1":"@outputs('Compose_OrderNumber')","item/field_2/Value":"SDI","item/field_4/Value":"Cleared","item/field_7":"@outputs('Compose_Notes')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"SP_GetActiveSpecialOrder_RemoveSDI":["Succeeded"]},"else":{"actions":{"Compose_RemoveSDI_NoSpecialOrderFound":{"type":"Compose","inputs":"No active SDI special order row was found."}}},"expression":{"and":[{"greater":["@length(body('SP_GetActiveSpecialOrder_RemoveSDI')?['value'])",0]}]},"type":"If"},"Condition_RemoveSDI_AssignmentFound":{"actions":{"Condition_RemoveSDI_StatusIsSDIOverride":{"actions":{"SP_UpdateAssignment_RemoveSDI":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://buildersfirstsource-my.sharepoint.com/personal/brandon_m_smith_bldr_com","table":"5ee68377-da61-444b-9531-469c8c1fee18","id":"@first(body('SP_GetExistingAssignment_Admin')?['value'])?['ID']","item/Title":"@outputs('Compose_OrderNumber')","item/field_8/Value":"@if(empty(first(body('SP_GetExistingAssignment_Admin')?['value'])?['field_5']), 'ManualException', 'PreAssigned')","item/field_12":true,"item/field_13":"@ outputs('Compose_StationName')","item/field_14":"@outputs('Compose_Notes')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"Compose_RemoveSDI_AssignmentNotSDIOverride":{"type":"Compose","inputs":"Assignment exists, but status was not SDIOverride. No assignment status change was needed."}}},"expression":{"and":[{"equals":["@first(body('SP_GetExistingAssignment_Admin')?['value'])?['field_8']?['Value']","SDIOverride"]}]},"type":"If"}},"runAfter":{"Condition_RemoveSDI_SpecialOrderFound":["Succeeded"]},"else":{"actions":{"Compose_RemoveSDI_NoAssignmentFound":{"type":"Compose","inputs":"No active assignment found while removing SDI."}}},"expression":{"and":[{"equals":["",""]}]},"type":"If"},"Response_RemoveSDI_Complete":{"runAfter":{"Condition_RemoveSDI_AssignmentFound":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"ok":true,"resultCode":"OK","message":"SDI override removal completed."}}}}}},"default":{"actions":{"Response_Default_UnknownAction":{"type":"Response","kind":"Http","inputs":{"statusCode":400,"body":{"ok":false,"resultCode":"UNKNOWN_ACTION","message":"The action sent to IndianTrailBayAdminAction was not recognized."}}}}},"expression":"@outputs('Compose_Action_Normalized')","type":"Switch"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"2e3fe2d6ae91474e815ae6feff75b950","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}